
footer{
	height: 10vh;
}

.color-purple{
	color: #4357ad;
}

.color-green{
	color: #48a9a6;
}

.color-skin{
	color: #e4dfda;
}

.color-yellow{
	color: #d4b483;
}

.color-red{
	color: #c1666b;
}

.title{
	height: 15vh;
	width: 100%;
}

.content{
	background-color: color-purple;
	min-height: 75vh;
}

.sidebox{
	background-color: blue;
}

.site{
	background-color: color-purple;
	max-height: 75vh;
	overflow-y: auto;
}